# Dependencies
# node_modules/ (we want to copy local node_modules to avoid docker build network errors)

# Logs
logs/
loggers/
*.log
npm-debug.log*

# Docker files
Dockerfile
.dockerignore
docker-compose*

# Git
.git
.gitignore


# Documentation and Assets
*.pdf
*.md
*.png

# Editors
.vscode/
.idea/

# Uploads
public/uploads/*
!public/uploads/.gitkeep
